/*main colors*/


/*$body_bg: #F6EBFF;
text : #585C71
header bg : #BBD0FF
header border : #675cff
category head bg : #b8c0ff
category head text : #6200f5
article bg : #e0d6ff
article text : #675cff
*/



body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #F6EBFF;
}

.blog-top{
    background-color: #BBD0FF;
    border-bottom: 1px solid #585C71;
    position: sticky;
    top: 0px;
    left: 0px;
}
.blog-top a {
    color: #585C71;
}

.search-input{
    background-color: #e0d6ff;
    border: 1px solid #585C71;
    padding-left: 5%;
}

.actual-page-link{
    font-weight: bold
}

.blog-header{
    border-bottom: 1px solid #585C71;
}

.blog-header-logo {
    object-fit: contain;
}

.logo{
    max-height: 133px;
    max-width: 181px;
}

.blog-category{
    background-color: #FFD6FF;
    border-bottom: 1px solid #585C71;
}
.article-category{
    background-color: #b8c0ff;
    color: #585C71;
    border-bottom: 1px solid #585C71;
}

a {
    color: #675cff;
}

a:hover {
    color: #8D85FF;
}

.article-section{
    background-color: #e0d6ff;
    color: #585C71;
}

.article-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.author-article-picture{
    width: 32px;
    height: 32px;
}

.blog-footer{
    background-color: #BBD0FF;
    border-top: 1px solid #C8B6FF;
    text-align: center;
    color: #585C71;
}

@media (max-width: 1360px){
    .logo{
        display: none;
    }
}

@media (max-width: 992px) { 
    .blog-header-title{
        margin-bottom: 10px;
    }
    
    .blog-header-logo{
        margin: 0%;
    }
}

@media(max-width: 768px){
    .blog-top{
        position: static ;
        top: 0px;
        left: 0px;
    }
}

