/*main colors:

body bg : #F6EBFF
text : #585C71
header bg : #BBD0FF
header border : #675cff
category head bg : #b8c0ff
category head text : #6200f5
article bg : #e0d6ff
article text : #675cff
*/



body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #F6EBFF;
}

.blog-top{
    background-color: #BBD0FF;
    border-bottom: 1px solid #585C71;
    position: sticky;
    top: 0px;
    left: 0px;
}

.blog-top a {
    color: #585C71;
}

.search-input{
    background-color: #e0d6ff;
    border: 1px solid #585C71;
    padding-left: 5%;
}

.actual-page-link{
    font-weight: bold
}

.blog-header{
    border-bottom: 1px solid #585C71;
}

.blog-header-logo {
    object-fit: contain;
}

.logo{
    max-height: 133px;
    max-width: 181px;
}

.nav-link {
    color: #585C71;
}

.nav-link:hover {
    color: #8D85FF;
}

.blog-category{
    background-color: #FFD6FF;
    border-bottom: 1px solid #585C71;
}
.article-category{
    background-color: #b8c0ff;
    color: #585C71;
    border-bottom: 1px solid #585C71;
}

a {
    color: #585C71;
}

a:hover {
    color: #8D85FF;
}

.article-section{
    background-color: #e0d6ff;
    color: #585C71;
    border: 1px solid #585C71;
    min-height: 224px;
}
.article-link{
    color: #585C71;
    text-decoration: none;
}

.article-head-title{
    font-weight: bold;
}

.picture {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border: 1px solid #585C71;
}

.author-article-picture{
    width: 32px;
    height: 32px;
}

.author-commentary-picture{
    width: 32px;
    height: 32px;
}

.article-commentary-author{
    padding-left: 5%;
}

.article-commentary-text{
    border-left: 1px solid #585C71;
}

.article-commentary{
    background-color: #e0d6ff;
    border-top: 1px solid #b8c0ff;
    color: #585C71;
}

#reduce{
    display: none;
}

.blog-footer{
    background-color: #BBD0FF;
    border-top: 1px solid #C8B6FF;
    text-align: center;
    color: #585C71;
}

@media (max-width: 1360px){
    .logo{
        display: none;
    }
}

@media (max-width: 992px) { 
    .blog-header-title{
        margin-bottom: 10px;
    }
    
    .blog-header-logo{
        margin: 0%;
    }

    .small-by-article{
        display: none;
        margin-left: 0%;
    }
}

@media(max-width: 768px){
    .blog-top{
        position: static ;
        top: 0px;
        left: 0px;
    }
    
    .article-head-title{
        text-align: center;
        display: grid;
        padding-left: 0%;
    }

    .article-head-text{
        border-right: none;
        margin-left: 10%;
    }
}

